@kmx:registry=https://carmax.jfrog.io/artifactory/api/npm/npm/
registry=https://carmax.jfrog.io/artifactory/api/npm/npm/

carmax.jfrog.io/artifactory/api/npm/npm/:email=219214@carmax.com
always-auth=true
auto-install-peers=true
engine-strict=true
strict-peer-dependencies=false
